<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add A button which says 'Display Details'</li>
        <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
      </ol>

      <hr>


      <button class="btn btn-warning" (click)="toggleParagraph()">Display Details</button>
      <p *ngIf="display">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit molestias nesciunt aspernatur, modi esse labore soluta enim voluptate est nulla porro quasi facilis atque unde quae obcaecati dolorum doloribus aliquam.</p>
      
      <p *ngFor="let click of clickCount" 
      [ngStyle]="{backgroundColor: click >= 5 ? 'blue':'transparent'}"
      [ngClass]="{'white': click >= 5}">{{click}}</p>


    </div>
  </div>
</div>

